<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Maintainance</h1>
        <p>The site is in maintainance state. We will get back soon.</p>
    </body>
</html>